@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');

:root {
    --black: #000;
    --blue: #2A7AE4;
    --blue-secondary: #5595E9;
    --light-blue: #D4E4FA;
    --dark-grey: #464646;
    --grey: #A2A2A2;
    --light-grey: #C8C8C8;
    --green: #83ff83;
    --red:#ff2c2c;
    --white: #FFFFFF;
    --bg-blue: #EAF2FD;
    --bg-grey: #F5F5F5;
    --main-font: 'Raleway', sans-serif;
}

body {
    background-color: var(--bg-grey);
    font-family: var(--main-font);
    font-size: 14px;
    font-weight: 400;
    background-color:var(--black);
}

a {
    text-decoration: none;
}

.button--primary,
.button--secondary {
    font-family: var(--main-font);
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    transition-duration: .3s;
    
}

.button--primary {
    background-color: var(--blue);
    color: var(--white);
    border: none;
    padding: 1em;
}

.button--primary:hover {
    background-color: var(--blue-secondary);
}

.button--secondary {
    
    color: var(--blue);
    padding: .8em 3.2em;
    border: 1px solid var(--blue);
    background-color: #1E2021;
}

.button--secondary:hover {
    background-color: var(--dark-grey);
}

input:focus, 
select:focus,
textarea:focus {
    outline: 1px var(--white);
}

.input__text,
.input__textfield {
    font-size: 16px;
    color: var(--white);
    font-family: var(--main-font);
    border-style: none none solid none;
    border-width: 1px;
    border-color: var(--light-grey);
    border-radius: 5px;
    background-color: #1E2021;
}

.input__text::placeholder,
.input__textfield::placeholder {
    color: var(--grey);
}

.input__validation-message {
    color: var(--red);
    font-size: 12px;
    align-self: flex-start;
    display:inline-block;
    margin-top: .4em;
}

.input__wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.input__field--label {
    font-size: 16px;
    background-color: #1E2021;
    color: var(--grey);
    padding: 1em 1em .3em;
    border-radius: 5px 5px 0 0;
}

.input__field--content {
    border-radius: 0 0 5px 5px;
    padding: 0.5em 0.7em;
    background-color: #1E2021;
}

.input__textfield {
    padding: 1em 0.8em 1.5em;
}

.input--invalid {
    border-color: var(--red);
}

.header__container {
    background-color: var(--white);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    background-color: var(--black);
}

.header__logo {
    width: 100px;
}

.header__searchbox {
    display: none;
    background-color: #1E2021;
    border: none;
    border-radius: 20px;
    padding: 1em;
    width: 40%;
    font-family: var(--main-font);
    font-size: 16px;
    font-weight: 400;
    color: var(--white);
}

.header__searchbox::placeholder {
    background: url('img/search-placeholder.png') no-repeat right / 22px;
    color: var(--grey);
}

.banner {
    background: url(img/banner.jpg) no-repeat center / cover;
    height: 192px;
    position: relative;
    box-shadow: inset 0 0 0 400px rgba(0, 0, 0, 0.25);
}

.banner__content {
    bottom: 0;
    position: absolute;
    padding: 1em;
    color: var(--white);
}

.banner__title {
    font-size: 22px;
    font-weight: 700;
}

.banner__text {
    font-weight: 600;
    margin: 1em 0 .8em;
}

.footer__container {
    background-color: var(--bg-blue);
    padding: 1em;
    text-align: center;
    background-color: var(--black);
}

.footer__list {
    padding: 1em 0;
}

.footer__item {
    margin-bottom: 1em;
    color: var(--white);
}

.footer__anchor {
    font-size: 16px;
    font-weight: 500;
    color: var(--white);
    cursor: pointer;
}

.contact {
    text-align: left;
    display: flex;
    flex-direction: column;
}

.contact__title {
    font-size: 16px;
    font-weight: 700;
    color: var(--white);
    margin-bottom: 0.5em;
}

.contact__button {
    align-self: flex-start;
}

.developer {
    color: var(--white);
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    line-height: 1.2em;
    padding: 2em;
    background-color: var(--black);
}

.developer__contact {
    color: var(--white);
}

.developer__contact:hover {
    color: var(--blue);
}


@media screen and (min-width: 768px) {
    .button--secondary {
        padding: .8em 4.5em;
    }

    .header__container {
        padding: 1em 2em;
        flex-wrap: nowrap;
    }

    .header__searchbox {
        display: block;
        margin: 0 auto 0 2em;
    }

    .header__search-icon {
        display: none;
    }

    .banner {
        height: 352px;
    }

    .banner__content {
        padding: 2em;
    }
    
    .banner__title {
        font-size: 52px;
    }
    
    .banner__text {
        font-weight: 700;
        font-size: 22px;
    }

    .footer__container {
        display: grid;
        grid-template-areas: 
            "logo contact"
            "links contact";
        grid-template-columns: 1fr 2fr;
        column-gap: 3em;
        padding: 2em;
    }

    .footer__logo {
        grid-area: logo;
    }

    .footer__list {
        grid-area: links;
        text-align: left;
    }

    .footer__item {
        margin-bottom: 2em;
    }

    .footer__item:last-child {
        margin-bottom: 0;
    }

    .contact {
        grid-area: contact;
    }

    .developer p:nth-child(-n+2) {
        display: inline;
    }
}

@media screen and (min-width: 1024px) {
    .button--primary {
        font-size: 16px;
        font-weight: 400;
    }

    .button--secondary {
        padding: 1em 4.5em;
        font-weight: 400;
    }
    
    .header__container,
    .banner__content,
    .gallery,
    .footer__container {
        padding: 2em 7em;
    }

    .header__logo {
        width: 100%;
    }

    .header__searchbox {
        width: 30%;
    }

    .banner {
        margin-bottom: 2em;
    }

    .footer__container {
        grid-template-areas: "logo links contact";
        grid-template-columns: 1fr 1fr 2fr;
        column-gap: 0;
        padding: 3em 7em;
    }

    .footer__logo {
        align-self: flex-start;
    }
}

  .conteudo {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, auto));
    gap: 1.5rem;
    cursor: pointer;
  }

  .box {
    padding: 10px;
    border-radius: 8px;
    position: relative;
    background-color: #1E2021;
    color: var(--white);
    box-shadow: #111;
  }

  .box:hover {
    padding: 15px;
    border-radius: 10px;
    transition: 0.4s;
    background-color: var(--dark-grey);
  }

  .produto {
    width: 100%;
    height: auto;
    margin-bottom: 0.5rem;
  }

  .box-button{
    position: relative;
  }
  
  .box img{
    border-radius: 8;
  }

  .titulo-produto {
    font-size: 1.1rem;
    font-weight: 600;
    text-decoration: uppercase;
    margin-bottom: 0.5rem;
  }

  .preco {
    font-weight: 500;
  }

  .box-button{
    position: relative;
  }

  .container {
    padding: 20px 8%;
    background-color: var(--black);
  }